.deepdive_container {
    width:100%;
    height:100%;
}
.deepdive_container:before {
    content: '';
    display: block;
    width: 100%;
    height: 8%;
}
#output_container {
    width: 96%;
    height: 89%;
    margin: auto;    
}
#chart_container,#table-container {
    width: 100%;
    height: calc(100% - 4vw);
    margin: auto;
    padding: 3%;
    overflow:hidden;
    font-family:Montserrat;
}
#output_container.showShadow {
    box-shadow: 0 0 40px -11px #111;
}
.output_header {
    width:100%;
    height:2vw;
    position:relative;
    /*transform: translate(0,-50%);*/
}
    .output_header > div {
        display:inline-block;
    }
.chart_title {
    height: 100%;
    width: 83%;
    border-bottom: solid 1px darkblue;
    /*border: 2px solid lightgray;
    border-radius: 20px;*/
    padding-left: 1%;
    background: white;
    /*margin-left: 0.7vw;*/
    font-weight: bold;
    font-size: 0.95vw;
}
    .chart_title:before {
        content:'';
        height:100%;
        display:inline-block;
        vertical-align:middle;
    }
    .chart_title > span {
        vertical-align:middle;
    }

.output_header_crescent {
    background: url(../Images/Mondelez_Sprite.svg) no-repeat;
    width: 1.5vw;
    height: 3vw;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0;
    background-position: 11.2% 46.2%;
    background-size: 11000%;
}
.output_header:after {
    content: '';
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: 1%;
    right: 0;
    z-index: -1;
}

/*highchart styles start*/
.chart-tooltip {
    text-align:center;
    text-align: center;
    background-color: white;
    padding: 6px;
    z-index: 9999 !important;
}

.chart-tooltip:before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    background: white;
}

    .chart-tooltip > div {
        position:relative;
    }

.highcharts-data-label {
    text-align:center;
}
.change-babel,
.sig-arrow
 {
    font-size:9px;
}
.highcharts-container {
    overflow:visible !important; /*Last column labels cutting off*/
}
/*highchart styles end*/
.add_StoryBoard {
    background: url('../Image/Mondelez_Eropanel_Sprite_Round_Story_board_Grey.svg') no-repeat;
}
.add_StoryBoard.active{
    background: url('../Image/Mondelez_Eropanel_Sprite_storyboard_icon_Active.svg') no-repeat;
}
.add_StoryBoard:hover{
    background: url('../Image/Mondelez_Eropanel_Sprite_Round_Story_board_purple.svg') no-repeat;
}
/*For IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .output_header_crescent {
        background-position: 11.2% 49.4%;
    }
}

/*For higher resolution support*/
@media only screen and (min-width:1400px){
    
}

.pdf_view_container {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.pdf_view {
    /*background: #F9F8F7;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    width: 30%;
    height: 35%;
    padding: 0 0.8%;*/
    background: #F9F8F7;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    width: 85%;
    height: 77%;
    /* padding: 0 30.8%; */
    margin-top: 3%;
}
.nbs_Header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.nbs_Header div {
    display: inline-block;
    vertical-align: middle;
}
.nbs_Header, .nbs_body, .nbs_frame {
    width: 100%;
}
.nbs_Header {
    height: 6%;
}
.nbs_body {
    height: 94%;
}
.nbs_frame {
    height: 100%;
}
.nbs_HeaderText {
    text-align: left;
    width: 94%;
    font-weight: bold;
}
.close_button.pdfview {
    width: 5% !important;
}

.ppt_icon {
    background: url(../Image/Mondelez_Eropanel_Sprite_Round_PPT_Grey.svg) no-repeat ;
}
.excel_icon {
    background: url(../Image/Mondelez_Eropanel_Sprite_Round_Excel_Grey.svg) no-repeat ;
}
.barchart_icon{
    background:url(../Image/Mondelez_Eropanel_Sprite_Round_Bar_chart_Grey.svg) no-repeat;
}
.columnchart_icon{
    background:url(../Image/Mondelez_Eropanel_Sprite_Round_column_chart_Grey.svg) no-repeat;
}
.ppt_icon.active {
      background: url(../Image/Mondelez_Eropanel_Sprite_PPT_icon.svg) no-repeat ;
}
.excel_icon.active {
    background: url(../Image/Mondelez_Eropanel_Sprite_Excel_icon.svg) no-repeat ;
}
.barchart_icon.active{
    background:url(../Image/Mondelez_Eropanel_Sprite_Round_Bar_chart_Orange.svg) no-repeat;
}
.columnchart_icon.active{
    background:url(../Image/Mondelez_Eropanel_Sprite_Round_column_chart_Orange.svg) no-repeat;   
}
.ppt_icon:hover {
      background: url(../Image/Mondelez_Eropanel_Sprite_PPT_icon.svg) no-repeat ;
}
.excel_icon:hover {
    background: url(../Image/Mondelez_Eropanel_Sprite_Excel_icon.svg) no-repeat ;
}
.barchart_icon:hover{
    background:url(../Image/Mondelez_Eropanel_Sprite_Round_Bar_chart_Orange.svg) no-repeat;
}
.columnchart_icon:hover{
    background:url(../Image/Mondelez_Eropanel_Sprite_Round_column_chart_Orange.svg) no-repeat;   
}
.quick_icon {
    float: right;
    width: 3.3%;
    height: 5.5vh;
    cursor: pointer;
    background-size: 5vh 5vh !important;
    margin-top: 0.4%;
}
.show_table, .show_chart {
    display:none;
}
.ss-showdata-label-toggle {
    width: 30vh;
    height: 4vh;
    font-size: 0.7vw;
    margin-top: 0.7%;
    font-weight: normal;
    display: inline-block;
    text-align: center;
    float:right;
    background: #eaeaea;
    padding: 0.7Vh;
    border-radius: 5vh;
    margin-right: 1vh;
}
.ss-showdata-label-maintext {
    width: 40%;
    font-size: 0.8vw;
    color: #000000;
    font-weight: normal;
    float: left;
}
.ss-showdata-label-endpart {
    width: 59%;
    font-size: 0.8vw;
    color: #000000;
    font-weight: normal;
    float: left;
}
.ss-showdata-label-subtext {
    width: 31%;
    font-size: 0.8vw;
    color: #000000;
    font-weight: normal;
    display: inline-block;
    text-align: center;
}
