.go-main {
    width: 100%;
    height: 94%;
    margin: auto;
    position: absolute;
}

.go-main-type {
    width: 100%;
    height: 100%;
}

.go-row-header {
    width: 100%;
    min-height: 2%;
    padding: 4px;
    padding-right: 9vh;
}

.go-row-body {
    width: 100%;
    height: 98%;
    position: absolute;
}

.go-row-body-contanier {
    width: 99%;
    height: 100%;
    position: relative;
    padding: 0.7%;
    margin-left: 0.5%;
    float: left;
}

.go-row-cell {
    float: left;
    position: relative;
    padding: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: calc(92% / 2);
    height: 50.5%;
    font-weight: bold;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 8px #888888;
    border: 1px inset black;
}

.go-row-cell-header {
    width: 100%;
    height: 12%;
    border-bottom: solid thin black;
}

.go-row-cell-header-text-box {
    width: 55%;
    height: 100%;
    position: relative;
    display: flex;
    float: left;
}

.go-row-cell-header-brandName {
    position: relative;
    float: left;
    display: block;
    align-items: center;
    top: 30%;
    left: 6%;
    font-size: 2.5vh;
    max-width: 47%;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.go-row-cell-header-Seperator {
    position: relative;
    float: left;
    display: block;
    align-items: center;
    top: 38%; 
    left: 9%;
    width: 4%;
    height: 29%;
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_Arrow_left.svg') no-repeat;
    background-size: contain;
}

.go-row-cell-header-Seperator_png {
    position: relative;
    float: left;
    display: block;
    align-items: center;
    top: 38%; 
    left: 9%;
    width: 4%;
    height: 29%;
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Arrow_left.png') no-repeat;
    background-size: contain;
}

.go-row-cell-subheader-container {
    position: relative;
    float: left;
    width: 42%;
    left: 9%;
    padding: 0.7%;
}

.go-row-cell-subheader {
    position: relative;
    float: left;
    display: block;
    align-items: center;
    top: 30%;
    left: 6%;
    font-size: 2vh;
    max-width: 100%;
    height: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.go-row-cell-subheader-change {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    color: #5D5D5D;
}

.go-row-cell-subheader-achievability {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    color: #5D5D5D;
}

.go-row-cell-header-button {
    position: relative;
    height: 2vh;
    background: #E18719;
    border-style: Solid;
    border-color: #A35D11;
    border-width: 1px;
    border-radius: 3vh;
    display: flex;
    white-space: nowrap;
    text-align: center;
    margin-left: 2%;
    align-items: center;
    padding: 3%;
    padding-right: 5%;
}

.go-row-cell-header-button:hover {
    cursor: pointer;
    opacity:0.9;
}

.go-row-cell-header-button-text {
    position: relative;
    float: left;
    width: 90%;
    font-family: Montserrat;
    font-size: 1.4vh;
    color: #FFFFFF;
    left: 4%;
}

.go-row-cell-header-button-box {
    width: 45%;
    height: 100%;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
}

.go-row-cell-header-button-image {
    position: relative;
    float: left;
    width: 3vh;
    height: 3vh;
}


.achived_brand_list{
    text-align: left;
    overflow-y: auto;
    width: 98%;
    height: 80%;
    margin: 2% 0% 0% 3%;
}

.achived_brand_list_HeaderText{
    font-family: Montserrat;
    font-weight: normal;
    color: black;
    font-weight: bold !important;
    float: left;
    font-size: 2vh;
}
.save_storyBoard{
    height: 35% !important;
    width: 30% !important;
}

.achieved_brand_Header{
    width: 100%;
    height: 15%;
    padding-top: 2%;
    border-bottom: 1px solid;
}

.Achievabilty-Image {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_Achievability.svg') no-repeat;
    background-size: contain;
}

.Growth-Curve-Image {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_Growth Curve.svg') no-repeat;
    background-size: contain;
}


.Path-to-Growth-Image {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_Path to Growth.svg') no-repeat;
    background-size: contain;
}

.How-Does-the-Brand-Grow-Image {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_How Does the Brand Grow-.svg') no-repeat;
    background-size: contain;
}

.Achievabilty-Image_png {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Achievability.png') no-repeat;
    background-size: contain;
}

.Growth-Curve-Image_png {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Growth Curve.png') no-repeat;
    background-size: contain;
}


.Path-to-Growth-Image_png {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Path to Growth.png') no-repeat;
    background-size: contain;
}

.How-Does-the-Brand-Grow-Image_png {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_How Does the Brand Grow-.png') no-repeat;
    background-size: contain;
}


.go-row-cell-body {
    position: relative;
    height: 87%;
    width: 100%;
}

.go-row-cell-body-left {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    border-width: 1px;
    border-right-style: solid;
}

.go-row-cell-body-right {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.go-row-cell-body-left-top {
    position: relative;
    width: 100%;
    height: 50%;
    float: left;
    padding: 2%;
}

.go-row-cell-body-left-bottom {
    position: relative;
    width: 100%;
    height: 50%;
    float: left;
}
.go-row-cell-body-left-bottom-achieve-box{
    position:relative;
    float:left;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
}

.achieve-box{
    border-color : #CCCCCC;
    border-width : 1px;
    border-style : Solid;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    width: 29%;
    height: 60%;
    position: relative;
    float: left;
    padding: 1%;
    display:block;
    text-align:center;
}
.achieve-box-text{
    position: relative;
    font-size: 1.9vh;
}
.achieve-box-number{
    position: relative;
    font-size: 3.1vh;
}
.achieve-box-ShowBrands{
    position: absolute;
    border-style: Solid;
    border-color: #CCCCCC;
    border-width: 1px;
    width: 44%;
    right: 0%;
    vertical-align: middle;
    height: 12%;
    bottom: 0%;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    font-size: 1.3vh;
}
.achieve-box-ShowBrands:hover {
    border-color: #623F23;
    cursor:pointer;
}

.achieve-sign-box{
    width: 5%;
    height: 60%;
    position: relative;
    float: left;
    padding: 1%;
    display:block;
}

.achieve-division-sign{
    position:relative;
    top:40%;
    background:url(../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_Devide_icon.svg) no-repeat;
    width:100%;
    height:30%;
}

.achieve-division-sign_png{
    position:relative;
    top:40%;
    background:url(../Image/GrowthOpportunity/Mondelez_Eropanel_Devide_icon.png) no-repeat;
    width:110%;
    height:30%;
}

.achieve-equal-sign{
    position:relative;
    top:40%;
    background:url(../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_equalto_icon.svg) no-repeat;
    width:100%;
    height:30%;
}
.achieve-equal-sign_png{
    position:relative;
    top:40%;
    background:url(../Image/GrowthOpportunity/Mondelez_Eropanel_equalto_icon.png) no-repeat;
    width:110%;
    height:30%;
}
.achieve-footer{
    position: absolute;
    top: 82%;
    left: 18%;

}
table {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

td {
    text-align: center;
    width: 25%;
}

td, th {
    width: 25%;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.5);
}

tbody > tr:first-child > td {
    border-bottom: none;
}

tbody > tr:last-child > td {
    border-bottom: none;
}

tbody > tr:first-child > th {
    border-bottom: none;
}

tbody > tr:last-child > th {
    border-bottom: none;
}

.labelshadow {
    position: relative;
    height: 10.5%;
    width: 80%;
    left: 10%;
    background: url("../Image/Mondelez_Eropanel_H Shadow 1.png") no-repeat;
    background-size: cover;
}

.borderRight {
    border-right-style: Solid;
    border-right-color: rgba(128, 128, 128, 0.5);
    border-right-width: 1px;
}

.alignCenter {
    text-align: center;
}

input {
    text-align: center;
    width: 100%;
    height: 100%;
}

.upDownButtonContainer {
    float: right;
    position: relative;
    height: 100%;
    width: 14%;
}

.upDownButton {
    position: relative;
    float: left;
    cursor: pointer;
    height: 2vh;
    width: 1vw;
}

.upButton {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_increase_up.svg') no-repeat;
    background-size: 100%;
}

.downButton {
    background: url("../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_increase_Down.svg") no-repeat;
    background-size: 100%;
}

.upButton_png {
    background: url('../Image/GrowthOpportunity/Mondelez_Eropanel_increase_up.png') no-repeat;
    background-size: 100%;
}

.downButton_png {
    background: url("../Image/GrowthOpportunity/Mondelez_Eropanel_increase_Down.png") no-repeat;
    background-size: 100%;
}

.labelText {
    height: auto;
    width: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.labelLine {
    position: relative;
    height: 4px;
    width: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #623F23;
}


.chart-tooltip {
    text-align:center;
    text-align: center;
    background-color: white;
    padding: 6px;
    z-index: 9999 !important;
    font-weight:bold;
    color:#000000;
}

.chart-tooltip:before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    background: white;
}

    .chart-tooltip > div {
        position:relative;
    }
.ppt_header_icon{
    position: relative;
    width: 5vh;
    height: 60%;
    margin-left: 3%;
    cursor:pointer;
}
.ppt_icon {
    background: url(../Image/Mondelez_Eropanel_Sprite_Round_PPT_Grey.svg) no-repeat;
    background-size: 5vh;
}
.ppt_icon:hover {
    background: url(../Image/Mondelez_Eropanel_Sprite_PPT_icon.svg) no-repeat;
    background-size: 5vh;
}

.go-row-cell-body-container{
    position:relative;
    float:left;
    width:33.3%;
    height:100%;
    font-size:103%;
}
.go-row-cell-body-container-box1{
     width: 99%;
    margin: 0.5%;
    height: 9%;
    position: relative;
    float: left;
    display: block;
    text-align: center;
}

.go-row-cell-body-container-box3{
     width: 99%;
    margin: 0.5%;
    height: 39%;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: Solid;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    position: relative;
    float: left;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-box3-Your-World, .container-box3-How-You-Win{
    position:relative;
    width:50%;
    height:10%;
    float:left;
    padding:1%;
}
.Your-World-container, .How-You-Win-container{
    width:50%;
    height:74%;
    position:relative;
    top:10%;
    padding:1%;
    float:left;
    overflow:auto;
    font-size:1.5vh;
    text-align:left;
}
.Your-World-container{
    border-right: solid 1px rgb(183, 183, 183);
}
.Your-World-container-item, .How-You-Win-container-item{
    background:url("../Image/GrowthOpportunity/Mondelez_Eropanel_Arrow_left.png") no-repeat;
    background-position: left 2px;
    float:left;
    padding-left: 6%;
    margin:3%;
}
/*ul{
    list-style-image:url("../Image/GrowthOpportunity/Mondelez_Eropanel_Arrow_left.png");
    list-style-position:inside;
}*/
.go-row-cell-body-container-box2, .go-row-cell-body-container-box4, .go-row-cell-body-container-box5,
.go-row-cell-body-container-box6, .go-row-cell-body-container-box7{
    width: 99%;
    margin: 0.5%;
    height: 49%;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: Solid;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    position: relative;
    float: left;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.go-row-cell-body-container-button{
    position: relative;
    float: left;
    margin: 1%;
    margin-left: 6%;
    border-style: Solid;
    border-color: rgba(204, 204, 204, 0.5);
    border-width: 1px;
    width: 43%;
    height: 85%;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}
.go-row-cell-body-container-button:hover {
    border-color: #623F23;
    cursor:pointer;
}
.go-row-cell-body-container-button-image{
    position: relative;
    float: left;
    width: 3vh;
    height: 3vh;
    top: 20%;
    left: 3%;
}
.go-row-cell-body-container-button-text{
    position: relative;
    float: left;
    width: 80%;
    font-family: Montserrat;
    font-size: 1.4vh;
    color: black;
    left: 6%;
    top: 22%;
}
.good_advertising_icon{
    background: url(../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_Button_icon_05.svg) no-repeat;
    top: 27%;
    background-size: 2.4vh;
}
.brand_case_study_icon{
    background: url(../Image/GrowthOpportunity/Mondelez_Eropanel_Sprite_Button_icon_06.svg) no-repeat;
    background-size: 2vh;
    left: 8%;
}
.good_advertising_icon_png{
    background: url(../Image/GrowthOpportunity/Mondelez_Eropanel_Button_icon_05.png) no-repeat;
    top: 27%;
    background-size: 2.4vh;
}
.brand_case_study_icon_png{
    background: url(../Image/GrowthOpportunity/Mondelez_Eropanel_Button_icon_06.png) no-repeat;
    background-size: 2vh;
    left: 8%;
}
