.home_container {
    width: 100%;
    height: 100%;
    background-image: url('../Image/Login_Landing_Sprite_Landing_BG.jpg');
    background-size: cover;
    position: relative;
}

    .home_container:before {
        content: '';
        width: 100%;
        height: 23%;
        display: block;
    }

.module_container {
    width: 100%;
    height: 54%;
    /*position: absolute;
    top: 50%;
    transform: translate(0,-50%);*/
    white-space: nowrap;
}

.modules {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    /*border: 1px solid #111;*/
    box-sizing: border-box;
    text-align: center;
    position: relative;
    line-height: 1.8;
}

.module_shadow {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 22px;
    background: url('../Image/Login_Landing_V shadow landing.png');
    background-size: cover;
}

.metric {
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.metric_icon {
    width: 100%;
    height: 70%;
    position: relative;
    padding-top: 12%;
}

.metric_text {
    width: 100%;
    height: 20%;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: bold;
    color: #A3A3A3;
}

.metric_underline {
    width: 100%;
    height: 10%;
    position: relative;
}

.submodule_container {
    width: 100%;
    height: 50%;
    padding-top: 8%;
}

.aq_logo {
    /*display: block;*/
}


/*Icons from sprite*/
.SNAPSHOT:hover .metric_text {
    color: #4F2170;
}

.SNAPSHOT .metric_icon div {
    background: url('../Image/login_landing_sprite_snapshot.svg') no-repeat;
    width: 86px;
    height: 64px;
}

.SNAPSHOT:hover .metric_icon div {
    background: url('../Image/login_landing_sprite_snapshot_active.svg') no-repeat;
    width: 86px;
    height: 64px;
}

.SNAPSHOT:hover .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_Active.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.SNAPSHOT .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_bottom.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.DEEPDIVE:hover .metric_text {
    color: #4F2170;
}

.DEEPDIVE .metric_icon div {
    background: url('../Image/login_landing_sprite_deepdive.svg') no-repeat;
    width: 80px;
    height: 80px;
}

.DEEPDIVE:hover .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Deepdive_Active.svg') no-repeat;
    width: 80px;
    height: 80px;
}

.DEEPDIVE:hover .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_Active.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.DEEPDIVE .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_bottom.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.CROSSTAB:hover .metric_text {
    color: #4F2170;
}

.CROSSTAB .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Crosstab.svg') no-repeat;
    width: 80px;
    height: 80px;
}

.CROSSTAB:hover .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Crosstab_Active.svg') no-repeat;
    width: 80px;
    height: 80px;
}

.CROSSTAB:hover .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_Active.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.CROSSTAB .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_bottom.svg') no-repeat;
    width: 200px;
    height: 28px;
}



.DATA_EXPLORER:hover .metric_text {
    color: #4F2170;
}

.DATA_EXPLORER .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Data_Explorer.svg') no-repeat;
    width: 80px;
    height: 80px;
}

.DATA_EXPLORER:hover .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Data_Explorer_Active.svg') no-repeat;
    width: 80px;
    height: 80px;
}

.DATA_EXPLORER:hover .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_Active.svg') no-repeat;
    width: 195px;
    height: 28px;
}

.DATA_EXPLORER .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_bottom.svg') no-repeat;
    width: 195px;
    height: 28px;
}





.GROWTH_OPPORTUNITY:hover .metric_text {
    color: #4F2170;
}

.GROWTH_OPPORTUNITY .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Growth_opertunity.svg') no-repeat;
    width: 69px;
    height: 69px;
}

.GROWTH_OPPORTUNITY:hover .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Growth_opertunity_Active.svg') no-repeat;
    width: 69px;
    height: 69px;
}

.GROWTH_OPPORTUNITY:hover .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_Active.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.GROWTH_OPPORTUNITY .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_bottom.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.REPORTS_HUB:hover .metric_text {
    color: #4F2170;
}

.REPORTS_HUB .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Report_Hub.svg') no-repeat;
    width: 69px;
    height: 69px;
}

.REPORTS_HUB:hover .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Report_Hub_Active.svg') no-repeat;
    width: 69px;
    height: 69px;
}

.REPORTS_HUB:hover .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_Active.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.REPORTS_HUB .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_bottom.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.MY_STORYBOARD .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Storyboard.svg') no-repeat;
    width: 87px;
    height: 68px;
}

.MY_STORYBOARD:hover .metric_text {
    color: #4F2170;
}

.MY_STORYBOARD:hover .metric_icon div {
    background: url('../Image/login_landing_sprite_storyboard_active.svg') no-repeat;
    width: 87px;
    height: 68px;
}

.MY_STORYBOARD .metric_icon div {
    background: url('../Image/Login_Landing_Sprite_Storyboard.svg') no-repeat;
    width: 87px;
    height: 68px;
}

.MY_STORYBOARD:hover .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_Active.svg') no-repeat;
    width: 200px;
    height: 28px;
}

.MY_STORYBOARD .metric_underline div {
    background: url('../Image/Login_Landing_Sprite_menu_select_bottom.svg') no-repeat;
    width: 200px;
    height: 28px;
}


.metric_center {
    margin: auto;
}

.functional_Icons {
    position: absolute;
    top: 0%;
    right: 0;
    height: 7%;
    width: 4%;
}

    .functional_Icons div {
        display: inline-block;
    }

.functional_Icons_logout {
    position: absolute;
    top: 0%;
    right: 4%;
    height: 7%;
    width: 4%;
}

    .functional_Icons_logout div {
        display: inline-block;
    }


.logoutIcon {
    background: url('../Images/Landing_Sprite.svg') no-repeat -409px -4px;
    width: 60px;
    height: 69px;
    cursor: pointer;
    display: none !important;
}

.settingsIconDiv {
    position: relative;
    height: 100%;
    width: 100%;
}

.settingsIcon {
    background: url('../Image/Login_Landing_Sprite_Settings_icon.svg') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.homeIcon {
    background: url('../Image/Mondelez_Eropanel_Sprite_Home_icon_New.svg') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.settings_list {
    top: 50px;
    right: 13px;
    position: absolute;
    background: #351656;
    width: 12%;
    height: 10%;
    border-radius: 0px 0px 6px 6px;
    border-top: 4px solid #C2337A;
}

.settings_list_item {
    font-family: 'Oswald';
    font-size: 0.9vw;
    color: #FFFFFF;
    white-space: nowrap;
    width: 100%;
    height: 50%;
    position: relative;
    cursor: pointer;
    font-weight: normal;
}

.settings_pointer {
    width: 16px;
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: -8px;
    overflow: hidden;
}

.settings_pointer_inner_half {
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%) rotate(-45deg);
    display: inline-block;
    background: #CE3689;
}

.settings_list_icon > div {
    background: url('../Image/Mondelez_Sprite_old.png') no-repeat;
    width: 24px;
    height: 19px;
}

.Logout .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Sprite_Logout_icon_white.svg');
    background-size: 100%;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Logout:hover .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_Logout_pink.svg');
    background-size: 100%;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Support .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_Support_white.svg');
    background-size: 100%;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Support:hover .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_Support_pink.svg');
    background-size: 100%;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Worldpanel_Online .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_WPO white.svg');
    background-size: 100%;
    height: 70%;
    width: 50%;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Worldpanel_Online:hover .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_WPO pink.svg');
    background-size: 100%;
    height: 70%;
    width: 50%;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Guide_Document .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_Guide_Document_white.svg');
    background-size: 100%;
    height: 70%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Guide_Document:hover .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_Guide_Document_pink.svg');
    background-size: 100%;
    height: 70%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Brand_Hierarchy .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_Brand_Hierarchy_white.svg');
    background-size: 100%;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Brand_Hierarchy:hover .settings_list_icon > div {
    background-image: url('../Image/Mondelez_Eropanel_Dropdown icon_Brand_Hierarchy_pink.svg');
    background-size: 100%;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Change_Password .settings_list_icon > div {
    background-position: -437px 0;
}

.Change_Password:hover .settings_list_icon > div {
    background-position: -541px 0;
}

.settings_list_icon {
    height: 100%;
    width: 30%;
    display: inline-block;
    position: relative;
    padding: 0 2.5%;
    background-color: rgba(0, 0, 0, 0.3);
}

.settings_list_text {
    height: 100%;
    width: 70%;
    display: inline-block;
    position: relative;
    padding: 0 2.5%;
}

.settings_list_item:hover {
    color: #C2337A;
}

    .settings_list_item:hover > .left_border {
        display: block;
    }

.left_border {
    display: none;
    width: 4px;
    height: calc(100% - 4px);
    position: absolute;
    left: 0;
    background: #C2337A;
}

/*Tooltip*/
.moduleToolTip {
    position: absolute;
    z-index: 10;
    background: #FFFFFF;
    width: 21.875em;
    height: 4.813em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
    border-radius: 4px;
    border-bottom: 3px Solid #F35822;
    display: none;
}

.moduleToolTipText {
    position: relative;
    height: auto;
    width: 100%;
    padding: 2%;
    font-family: Montserrat;
    font-size: 0.688em;
    color: #404041;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    white-space: pre-wrap;
}
