.RH_container{
    width: 100%;
    height: 100%;
}

.RH_selection_Container{
    position:relative;
    width:100%;
    height:5.5%;
    border-bottom: 1px solid #A6A8AB;
    background: #CCCCCC;
    white-space: nowrap;
    font-size: 0;
    text-transform: uppercase;
}

.RH_selection_Container:before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.RH_filter_container {
    width:100%;
    height:100%;
}

.RH_Filters{
    position:relative;
    height:100%;
    width:auto;
    float:left;
    cursor: pointer;
}

.RH_selection_bar{
    width: 100%;
    padding-left: 10%;
    padding-right: calc(10% + 20px);
    background: #CCCCCC;
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95vw;
}

.RH_Filter_Container{
    position:relative;
    width:100%;
    height:40%;
}

.RH_Output_Container{
    position:relative;
    width:96%;
    height: 42.5%;
    margin:2%;
    margin-top:0%;
    margin-bottom:0%;
    border:1px solid;
    border-color:silver;
}

.RH_Output_Body_Container{
    position:relative;
    float:left;
    width:100%;
    height:89%;
    color: #303030;
    overflow-y:auto;
    background-color: #FAFAFA;
}

.RH_Output_Body_Row_Count_Container{
    position:relative;
    width:96%;
    height: 2%;
    margin:2%;
    margin-top:0%;
    margin-bottom:1%;
    text-transform:uppercase;
}

.RH_Buttons_Container{
    position:relative;
    width:100%;
    height:5%;
}

.RH_Output_Header_Container{
    position:relative;
    width:100%;
    height:10%;
    background-color:#EBEBEB;
    border-left: 3px solid;
    border-color: #E18719;
}

.RH_Output_Header_Container_HeaderText{
    position: relative;
    left:3%;
    font-size: 2vh;
}

.RH_Output_Header_Container_SelectAll{
    position: relative;
    float:right;
    right:3%;
    font-size: 2vh;
    cursor:pointer;
}

.RH_Filters_DropDownContainerHeader{
    position: absolute;
    width: 50%;
    top: 65%;
    left: 25%;
    z-index: 10;
    min-height: 20%;
    max-height: 25%;
    border: 1px solid #A6A8AB;
    background: #f9f8f7;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    overflow-x: hidden;
    overflow-y: auto;
}

.RH_Filters_DropDownContainer{
    position: absolute;
    width: 50%;
    top: 75%;
    left: 25%;
    z-index: 10;
    min-height: 30%;
    max-height: 75%;
    border: 1px solid #A6A8AB;
    background: #f9f8f7;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    overflow-x: hidden;
    overflow-y: auto;
    border-top: none;
    scroll-behavior: smooth;
}

.RH_Filters_TP_DropDownContainer{
    position:absolute;
    width:80%;
    top: 65%;
    left:10%;
    z-index:10;
    min-height:30%;
    max-height:60%;
    border:1px solid #A6A8AB;
    background: #f9f8f7;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    overflow-x:hidden;
    overflow-y:auto;
    scroll-behavior: smooth;
}

.RH_Filters_TP_level2_DropDownContainer{
    position:absolute;
    width:80%;
    top: 95%;
    left:10%;
    z-index:10;
    min-height:25%;
    max-height:30%;
    border:1px solid #A6A8AB;
    background: #f9f8f7;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    overflow-x:hidden;
    overflow-y:auto;
    scroll-behavior: smooth;
}

.RH_Filters_TP_level3_1_DropDownContainer{
    position:absolute;
    width:40%;
    top: 120%;
    left:10%;
    z-index:10;
    min-height:20%;
    max-height:60%;
    border:1px solid #A6A8AB;
    background: #f9f8f7;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    overflow-x:hidden;
    overflow-y:auto;
    scroll-behavior: smooth;
}

.RH_Filters_TP_level3_2_DropDownContainer{
    position:absolute;
    width:40%;
    top: 120%;
    left:50%;
    z-index:10;
    min-height:20%;
    max-height:60%;
    border:1px solid #A6A8AB;
    background: #f9f8f7;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    overflow-x:hidden;
    overflow-y:auto;
    scroll-behavior: smooth;
}

.RH_Filters_DropDownItem{
    position:relative;
    width:100%;
    height:10%;
    text-align:left;
}

.RH_Filters_TP_DropDownItem{
    position:relative;
    width:50%;
    height:10%;
    text-align:left;
    float: left;
}

.RH_Filters_TP_DropDownItem:hover{
    background:#EBEBEB;
}

.open > .RH_Filters_FilterName {
    color:#C2337A;
    text-transform: uppercase;
    text-align:center;
}

.RH_Filters_TP_FromTo{
    position:relative;
    width:100%;
    height:10%;
    text-align:left;
    float: left;
}

.RH_Filters_TopHeader{
    position:relative;
    height:10%;
    width:100%;
    float:left;
}

.RH_Filters_ImageBox{
    position:relative;
    height:50%;
    width:100%;
    float:left;
}

.RH_Filters_ImageShadow{
    position:relative;
    height:10%;
    width:100%;
    float:left;
}

.RH_Filters_FilterName{
    position:relative;
    height:10%;
    width:100%;
    float:left;
    font-size: 1.1vw;
    text-align: center;
    font-weight:normal;
    text-transform:uppercase;
}

.RH_Filter_Container>.RH_Filters{
    height: 100%;
    box-shadow: -23px 0 44px -39px;
}

.RH_Filters_items_text{
    position:relative;
    width:85%;
    left:5%;
    height:100%;
    float:left;
    text-transform: uppercase;
}

.RH_Filters_TP_items_text{
    position: relative;
    max-width: 80%;
    margin-left: 5%;
    height: 100%;
    left:5%;
    float: left;
    text-align:center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
}

.RH_Filters_TP_items{
    position:relative;
    width:50%;
    height:10%;
    text-align:left;
    float: left;
}

.RH_Filters_TP_items_border{
    border-style: Solid;
    border-width: 1px;
    width:46%;
    border-radius: 0.8vw;
    font-size: 0.9vw;
    left: 2%;
    top: 0.7vh;
    cursor:pointer;
}

.RH_Filters_TP_items_border:hover {
    background:#EBEBEB;
}

.RH_Filters_TP_DropDownIcon{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background: url(../Image/Mondelez_Eropanel_Sprite_arrow_black.svg) no-repeat;
    width: 2vh;
    height: 2vh;
    float: right;
    top: 0.4vh;
    right: 3%;
    position: relative;
    background-size: 90% 90%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.RH_Filters_TP_DropDownIcon_Active{
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 0vh;
}

.RH_Filters_items{
    border-bottom: 1px dotted;
    float:left;
    font-size: 1.1vw;
}

.RH_Filters_items:hover {
    cursor:pointer;
    background:#EBEBEB;
}

.RH_Filters_items_CheckBox{
    position:relative;
    width:10%;
    height:100%;
    left:5%;
    margin-top: 2%;
    float:left;
}

.TP_Select{
    position:relative;
    width:100%;
    height:100%;
    overflow: hidden;
    cursor:pointer;
}

option{
    cursor:pointer;
}

.SingleRadioUnSelected{
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    background: url('../Image/Mondelez_Eropanel_Sprite_radio_inactive.svg') no-repeat 0 0;
	width: 2vh;
	height: 2vh;
    background-size:90% 90%;
}

.SingleRadioSelected{
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    background: url('../Image/Mondelez_Eropanel_Sprite_radio_Active.svg') no-repeat 0 0;
	width: 2vh;
	height: 2vh;
    background-size:90% 90%;
}

.MultiRadioUnSelected{
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    background: url('../Image/Mondelez_Eropanel_Sprite_check_box.svg') no-repeat 0 0;
	width: 2vh;
	height: 2vh;
    background-size:90% 90%;
}

.MultiRadioSelected{
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    background: url('../Image/Mondelez_Eropanel_Sprite_check_box_Active.svg') no-repeat 0 0;
	width: 2vh;
	height: 2vh;
    background-size:90% 90%;
}

.RH_Filters_TP_DropDownText{
    position:relative;
    width:90%;
    height:100%;
}

.RH_Filters_TP_DownArrow{
    position:relative;
    width:10%;
    height:100%;
}

.RH_Filters_TP_DropDown_Container{
    position:absolute;
    width:100%;
    height:40%;
    overflow-y:auto;
}

.RH_Buttons {
    position: relative;
    height: 0.5vh;
    background: #EBEBEB;
    border-style: Solid;
    border-color: silver;
    border-width: 1px;
    border-radius: 3vh;
    display: flex;
    white-space: nowrap;
    text-align: center;
    margin-left: 2%;
    align-items: center;
    padding: 1%;
    width: 10%;
    float:left;
    font-size: 1.9vh;
    left:38%;
}

.RH_Buttons:hover {
    opacity:0.9;
    cursor:pointer;
}

.RH_Output_Body_Row{
    position:relative;
    float:left;
    width:99%;
    height:17%;
    padding:0.5%;
    left:0.5%;
}

.RH_Output_Body_Row:hover{
    cursor:pointer;
    background:#EBEBEB;
}

.RH_Output_Body_NoData{
    position:relative;
    float:left;
    width:99%;
    height:10%;
    margin:0.5%
}

.RH_FileName_CheckBox{
    position:relative;
    float:left;
    top:15%;
    left:1%;
}

.RH_FileName{
    position:relative;
    float:left;
    left:2%;
}

.RH_Filters_Image{
    position:relative;
    width:40%;
    height:100%;
    left: 38%;
}

.RH_Filters_Bottom_Image{
    position:relative;
    width:45%;
    height:100%;
    left: 35.5%;
    background: url(../Image/mondelez_eropanel_sprite_icon_bottom_border.svg) no-repeat;
    background-size: contain;
}

.MARKETS.open>.RH_Filters_ImageBox>.RH_Filters_Image {
    background: url(../Image/Mondelez_Eropanel_Sprite_Market_icon_Active.svg) no-repeat;
    background-size: contain;
}

.MARKETS.active>.RH_Filters_ImageBox>.RH_Filters_Image {
    background: url(../Image/mondelez_eropanel_sprite_market_icon.svg) no-repeat;
    background-size: contain;
}

.CATEGORY.open>.RH_Filters_ImageBox>.RH_Filters_Image {
    background: url(../Image/Mondelez_Eropanel_Sprite_Category_icon_Active.svg) no-repeat;
    background-size: contain;
}

.CATEGORY.active>.RH_Filters_ImageBox>.RH_Filters_Image {
    background: url(../Image/Mondelez_Eropanel_Sprite_Category_icon.svg) no-repeat;
    background-size: contain;
}

.TIME_INTERVAL.open>.RH_Filters_ImageBox>.RH_Filters_Image {
    background: url(../Image/Mondelez_Eropanel_Sprite_Time_Period_icon_Active.svg) no-repeat;
    background-size: contain;
}

.TIME_INTERVAL.active>.RH_Filters_ImageBox>.RH_Filters_Image {
    background: url(../Image/Mondelez_Eropanel_Sprite_Time_Period_icon.svg) no-repeat;
    background-size: contain;
}

.RH_Buttons_Text{
    position:relative;
    float:left;
    width:80%;
    margin-right:5%;
}

.RH_Icon_Download{
    position:relative;
    float:right;
    height:2vh;
    width:2vh;
    background: url(../Image/Mondelez_Eropanel_Sprite_Download_icon.svg) no-repeat;
    background-size: contain;
}

.RH_Icon_Clear{
    position:relative;
    float:right;
    height:2vh;
    width:2vh;
    background: url(../Image/Mondelez_Eropanel_Sprite_Clear_icon.svg) no-repeat;
    background-size: contain;
}



.RH_UploadFileDiv {
    z-index: 2;
    top: 8%;
    position: absolute;
    margin-left: 94%;
    display: none;
    right: 0.5vw;
    width: 6%;
    height: 10%;
    cursor: pointer;
}

.RH_UploadFileButton {
    z-index: 2;
    width: 22%;
    display: block;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 15%;
}

.RH_UploadButton {
    z-index: 2;
    cursor: pointer;
    background-color: rgb(225, 135, 25);
    font-weight: bold;
    color: white;
    font-size: 0.8vw;
    letter-spacing: 0.05vw;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 67%;
    bottom: 17%;
    position: absolute;
    width: 22%;
    margin-left: 9%;
}

.RH_UploadPopUpDiv {
    display: none;
    z-index: 52 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#RH_UploadPopUp {
    position: relative;
    z-index: 999;
    display: none;
    margin-top: 14%;
    border-radius: 13px;
    width: 45%;
    height: 50%;
    margin-left: 31%;
    background-color: #F9F8F7;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.RH_uploadImgContainer {
    position: relative;
    display: none;
    cursor: pointer;
    background: url('../Image/Mondelez_Eropanel_Sprite_Upload_active.svg') no-repeat 0 0;
    margin-top: 8%;
    margin-left: 27%;
    width: 45%;
    height: 64%;
    margin-top: 8%;
    margin: 0 auto;
    margin-bottom: 1vh;
}

.RH_uploadReportsText {
    display: none;
    font-size: 67%;
    color: black;
    text-align: center;
}

.RH_UploadHeading {
    border-bottom: 1px solid black;
    margin-left: 3%;
    width: 94%;
    height: 10%;
    margin-top: 1%;
}

.RH_UploadFileNames {
    background-color: white;
    border: 1px solid black;
    height: 85%;
    margin-left: 8%;
    width: 92%;
    overflow-y: auto;
    line-height: 2;
    float: left;
    position: relative;
    margin-top: 2%;
}

.RH_UploadSuccessDiv {
    width: 50%;
    height: 12%;
    margin-left: 5%;
}

#RH_UploadSuccessMsg {
    display: none;
    margin-left: 37%;
    color: black;
}

#RH_showOk {
    display: none;
}
.RH_UploadPopUpClose {
    width: 30px;
    height: 100%;
    float: right;
    cursor: pointer;
    position: relative;
    background: url(../Image/Mondelez_Sprite_old.png) no-repeat -1456px -55px;
}

.RH_UploadNameHead {
    margin-left: 8%;
    margin-top: 2%;
    float: left;
}

.RH_deleteFile {
    cursor: pointer;
    margin-right: 3%;
    float: right;
}

.RH_fileName {
    width: 70%;
    float: left;
    margin-left: 5px;
}

.RH_UploadHeadText {
    margin-left: 2%;
    position: relative;
    top: 1vh;
    font-size: 1.2vw;
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
    background-color: rgb(225, 135, 25);
    font-weight: bold;
    color: white;
    font-size: 0.8vw;
    letter-spacing: 0.05vw;
    text-align: center;
    border-radius: 20px;
    height: 10%;
    width: 100%;
}

.RH_UploadFileNames::-webkit-scrollbar-thumb {
    background-color: rgb(225, 135, 25);
    width: 1px;
}


#left_container {
    width: 60%;
    height: 80%;
    float: left;
}

#right_container {
    width: 40%;
    height: 80%;
    float: left;
}

#bottom_container {
    width: 100%;
    height: 20%;
    float: left;
}

#RH_closeContainer {
    height: 100%;
    width: 4%;
    float: right;
    cursor: pointer;
}

#RH_closeText {
    margin-left: 1%;
    color: red;
}

.open > .RH_SUBSCRIBE_Filters_FilterName {
    top: 3%;
}

.RH_SUBSCRIBE_Filters_Bottom_Image{
    left: 28.5%;
}

.RH_SUBSCRIBE_Filters_DropDownContainer{
    position: absolute;
    width: 90%;
    top: 14%;
    left: 3%;
    z-index: 10;
    min-height: 30%;
    max-height: 55%;
    /*border: 1px solid #A6A8AB;
    background: #f9f8f7;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);*/
    overflow-x: hidden;
    overflow-y: auto;
    border-top: none;
    scroll-behavior: smooth;
}