<div class="mainLoginBody" ng-controller="LoginController">
    <div class="mondelezLogoDiv">MONDELEZ INTERNATIONAL</div>
    <div class="userNameInputDiv"><div class="icon"></div><input id="username" type="text" autofocus="autofocus" placeholder="Username" class="input" ng-model="username" data-ng-keyup="onKeyup($event)"/></div>
    <div class="passwordInputDiv" ng-hide="true"><input id="password" type="password" value="test" style="width:0%;border: none;"></div>
    <div class="login_submit" ng-click="authenticateUser()">LOGIN</div>
    <div class="aq_logo"></div>
    <div class="Notes">* This website is only for Development and Testing purpose.</div>
</div>